
  <!-- Header Section -->
    <section class="about">
      <div class="container-fluid">
        <h1 class="pt-5 md-pt-3 text-center about-txt">We take your business, <br>where your customers live, <span class="text-primary">#Online.</span> <br>Then we make it thrive</h1>

        <h3 class="text-center pt-3 pb-4"><b><s>Helping</s> Making</b> businesses <br> be seen, be heard and sell online</h3>

        <p class="text-center pb-5">
        <a href="tel:0707898224" class="btn btn-primary btn-lg">Get A Free Consultation</a>
        </p>
        </div>
      </div>
    </section>
   
    <!-- ery -->
    <section class="dmpic">
      <h3 class="pt-4 pb-2 text-center"><span class="text-primary">Web Design.</span> SEO. <br>Copy Writing.<span class="text-primary"> Branding.</span></h3>
      <p class="lead text-center">More Exposure. More Customers. More Earnings. More Success.</p>
    <div class="container p-3">
      <img src="images/pple2.jpg" class="dm img-fluid" alt="">
    </div>
  </section>
 
    <!-- Ministries -->
    <section id="ministries" class="text-center pb-5 mt-2">

      <h3 class="text-center text-primary pt-4 fw-bold">Services We Offer</h3>
      <p class="lead text-center pb-4"><b>Where do you need help?</b></p>
  <div class="container">
  
    <div class="grid-wrapper">
        <div class="card1 fellowship">
            <h3 class="fw-bold">Web Design & Development</h3>
            <p class="fs-6">We build websites that increase revenue <br>and consistently attract, convert and deliver paying clients</p>
            <p class="px-5 pb-0">Great websites don't just happen.</p>
          <a href="#" class="btn btn-outline-light">Contact Us Now</a> 
        </div>
  
        <div class="card2 men hover-zoom">
          <h3 class="fw-bold text-start">Content & Copy Writing</h3>
          <p class="text-start">A company is not a product or it's service. It's the sum of all the experiences customers have with it. <u>We tell your story in a way that sells.</u></p>
        </div>
  
        <div class="card3 mothers">
          <h3 class="fw-bold">S.E.O solutions</h3>
          <p class="text-start">It's worthless to have a beautiful website yet customers can't find it.<br>We make you visible. We make you rank.</p>
        </div>
  
        <div class="card3 teens">
        <h3 class="fw-bold">Branding</h3>
        <p class="text-start">Your brand is the silent ambassodor of your company. It should be <b>bold, right & able to create loyal customers.</b></p>
        </div>
  
        <div class="card3 youth">
        <h3 class="fw-bold">Social Media Marketing</h3>
        <p class="text-start">Social media is powerful. And your business should be making money from it.</p>
        </div>
  
        <div class="card3 kids">
          <h3 class="fw-bold text-start">Online Copy<br>Writing Course</h3>
          <p class="text-start">Putting the right words on paper and online is the most profitable skill anyone should learn today. Learn from the <b>BEST</b></p>
        </div>
  
   </div>
      </div>
    </section>
  <!-- svaaaaab -->
  <section class="pb-4">
      <h3 class="text-center text-primary fw-bold pt-4">Ok, you're just something else</h3>
      <p class="lead text-center pb-3"><b> You scrolled this far. That's Amazing!</b></p>
      <div class="container">
      <p class="lead text-center">
        The best way to pick a company is to hear what they offer.<br>We go the extra mile because it's never crowded.
      </p>
      <p class="text-center pb-3">
        <a href="tel:0707898224" class="btn btn-primary btn-lg">Get A Free Consultation</a>
      </p>
      </div>
  </section>

  <!-- footer -->
  <section class="purple">
  <footer id="site-footer">

    <section class="horizontal-footer-section" id="footer-top-section">
        <div id="footer-logo" class="ack-name text-light">
          <img class="lgo" src="/images/logo6.jpg" alt=""><br>
          <b>PRESIDENS <span class="digital">DIGITAL</span></b><br><span class="Moto text-center">BE SEEN. BE HEARD. SELL MORE.</span>
          <p class="footer-text lead">We are a digital marketing agency on a mission to make businesses be seen, be heard, and sell online.<br>We do it by constantly improving our methods, technology, providing professional support, and making digital presence effectivee and seamless</p>
        </div>

        <div id="footer-top-menu-container" role="menubar">
            <ul id="footer-top-menu" role="menu">
                <li class="footer-top-menu-item" role="menuitem">
                    <a href="#" class="footer-top-menu-link">Branding</a>
                </li>
                <li class="footer-top-menu-item footer-top-menu-item-active" role="menuitem">
                    <a href="#" class="footer-top-menu-link">Web development</a>
                </li>
                <li class="footer-top-menu-item" role="menuitem">
                    <a href="#" class="footer-top-menu-link">SEO</a>
                </li>
                <li class="footer-top-menu-item" role="menuitem">
                    <a href="https://subscribepage.io/ZtWDu4" class="footer-top-menu-link">Copy Writing</a>
                </li>
            </ul>
        </div>
        <div id="footer-buttons-container">
            <a href="#" class="footer-button" role="button">View our Projects</a>
        </div>
    </section>

    <section class="horizontal-footer-section" id="footer-middle-section">
        <div id="footer-about" class="footer-columns footer-columns-large">
            <h1>Our Address</h1>
            <address>
                <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/marker.png">Nairobi, Kenya</p>
                <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/phone.png">+254707898224</p>
                <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/mail.png">eric21.kyalo@gmail.com</p>
                <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/clock.png">8:00 AM – 8:00 PM</p>
            </address>
        </div>
    </section>
    
    <section class="horizontal-footer-section" id="footer-bottom-section">
        <div id="footer-copyright-info">
            &copy; Presidens Digital 2022. All rights reserved.
        </div>
        <div id="footer-social-buttons">
            <img src="https://img.icons8.com/ios-filled/25/999999/facebook--v1.png"/>
            <img src="https://img.icons8.com/ios-filled/25/999999/telegram-app.png"/>
            <img src="https://img.icons8.com/ios-filled/25/999999/pinterest--v1.png"/>
            <img src="https://img.icons8.com/ios-filled/25/999999/instagram--v1.png"/>
        </div>
    </section>

</footer>
</section>

   